/* Custom font and colors */
body {
    font-family: 'Arial', sans-serif;
    background-color: #28b47b;
}

.navbar {
    background-color: #343a40 !important;
    color: white;
}

.card-title {
    font-weight: bold;
    font-size: 1.2rem;
}

/* Modify button appearance */
.btn {
    margin-right: 5px;
}
